{% if section.settings.instagram-section != false %}
  <section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="instagram-section">
    <div id="instagram-feed-demo" class="instagram-section__instagram-feed"></div>
    <script src="https://www.jqueryscript.net/demo/Instagram-Photos-Without-API-instagramFeed/jquery.instagramFeed.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
     (function($){
    		$(window).on('load', function(){
    			$.instagramFeed({
    				'username': 'callofduty',
    				'container': "#instagram-feed-demo",
    				'display_profile': true,
    				'display_biography': true,
    				'display_gallery': true,
    				'get_raw_json': false,
    				'callback': null,
    				'styling': true,
    				'items': 4,
    				'items_per_row': 4,
    				'margin': 0.3
    			});
    		});
    	})(jQuery);
    </script>
  </section>
{% endif %}

{% schema %}
{
  "name": "instagram section",
  "settings": [
    {
      "type": "checkbox",
      "id": "instagram-section",
      "label": "show instagram section",
      "default": true
    }
  ]
}
{% endschema %}
